<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/checkout.css" />
    <title>
      Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites
      by Untree.co
    </title>
  </head>

  <body>
    <%- include("./layouts/header.ejs") %>
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/home" class="d-flex align-items-center">
            <span style="color: rgb(27, 94, 27)">Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </nav>

    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>Checkout</h1>
            </div>
          </div>
          <div class="col-lg-7"></div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="border p-4 rounded" role="alert">
              Returning customer? <a href="#">Click here</a> to login
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border bg-white">
              <div
                style="
                  border: 1px solid black;
                  padding: 5px;
                  border-radius: 2px;
                "
              >
                <input type="radio" />
                <p>House Number: 8382</p>
                <p>Street: 1234</p>
                <p>City: New York</p>
                <p>State: New York</p>
                <p>Zip Code: 10001</p>
                <p>Country: United States</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border bg-white">
                  <label for="c_code" class="text-black mb-3"
                    >Enter your coupon code if you have one</label
                  >
                  <div class="input-group w-75 couponcode-wrap">
                    <input
                      type="text"
                      class="form-control me-2"
                      id="c_code"
                      placeholder="Coupon Code"
                      aria-label="Coupon Code"
                      aria-describedby="button-addon2"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-black btn-sm"
                        type="button"
                        id="button-addon2"
                      >
                        Apply
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border bg-white">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <img
                            src="images/top-up-tshirt.jpg"
                            alt="Top Up T-Shirt"
                            style="width: 50px; height: auto"
                          />
                        </td>
                        <td>
                          Top Up T-Shirt <strong class="mx-2">x</strong> 1
                        </td>
                        <td>$250.00</td>
                      </tr>
                      <tr>
                        <td>
                          <img
                            src="images/polo-shirt.jpg"
                            alt="Polo Shirt"
                            style="width: 50px; height: auto"
                          />
                        </td>
                        <td>Polo Shirt <strong class="mx-2">x</strong> 1</td>
                        <td>$100.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Cart Subtotal</strong>
                        </td>
                        <td></td>
                        <td class="text-black">$350.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Order Total</strong>
                        </td>
                        <td></td>
                        <td class="text-black font-weight-bold">
                          <strong>$350.00</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="border p-3 mb-3">
                    <div>
                      <!-- Radio Button with ID -->
                      <input type="radio" name="payment" id="razerpay" />

                      <!-- Label for the Radio Button -->
                      <label for="razerpay">
                        <h3 class="h6 mb-0">
                          <a
                            class="d-block"
                            data-bs-toggle="collapse"
                            href="#collapsepaypal"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapsepaypal"
                            style="text-decoration: none"
                          >
                            Bank Transfer
                          </a>
                        </h3>
                      </label>
                    </div>

                    <div class="collapse" id="collapsebank">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="border p-3 mb-3">
                    <div>
                      <!-- Radio Button with ID -->
                      <input type="radio" name="payment" id="razerpay" />

                      <!-- Label for the Radio Button -->
                      <label for="razerpay">
                        <h3 class="h6 mb-0">
                          <a
                            class="d-block"
                            data-bs-toggle="collapse"
                            href="#collapsepaypal"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapsepaypal"
                            style="text-decoration: none"
                          >
                            Cash on Delivery
                          </a>
                        </h3>
                      </label>
                    </div>

                    <div class="collapse" id="collapsecheque">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="border p-3 mb-5">
                    <div>
                      <!-- Radio Button with ID -->
                      <input type="radio" name="payment" id="razerpay" />

                      <!-- Label for the Radio Button -->
                      <label for="razerpay">
                        <h3 class="h6 mb-0">
                          <a
                            class="d-block"
                            data-bs-toggle="collapse"
                            href="#collapsepaypal"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapsepaypal"
                            style="text-decoration: none"
                          >
                            Razer Pay
                          </a>
                        </h3>
                      </label>
                    </div>

                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button
                      class="place-order-button"
                      onclick="window.location='thankyou.html'"
                    >
                      Place Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>

    <%- include("./layouts/footer.ejs") %>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
