<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="author" content="Untree.co" />
      <link rel="shortcut icon" href="favicon.png" />
      <meta name="description" content="" />
      <meta name="keywords" content="bootstrap, bootstrap4" />
    
      <!-- Bootstrap CSS and updated Font Awesome for icons -->
      <link href="css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    
      <!-- Google Fonts and other stylesheets -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
      <link href="/css/tiny-slider.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/style.css">
      <link href="/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    </head>
  <body>
  <%- include("./layouts/header.ejs") %>
      
    <div class="login-container">
      <h2>FORGOT PASSWORD</h2>
      <form id="loginform">
        <label for="current-password"></label>
        <input type="password"  name="current-password" id="current-password" placeholder="Your current-password" >
        <p id="currentPasswordError" class="errormessage"></p>
        <label for="new-password"></label>
        <input type="password" id="new-password" name="new-password" placeholder="Enter you new password">
        <p id="newPasswordError" class="errormessage"></p>
        <button id="loginBtn">Change Password</button>
      </form>
    </div>

        </div>
      </section>


      <%- include("./layouts/footer.ejs") %>

      <!-- scripts -->
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/tiny-slider.js"></script>
      <script src="js/custom.js"></script>
      <script src="js/users/forgotpasswordvalidation.js"></script>
  </body>
</html>
