<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marmelad&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
  <%- include("./layouts/header.ejs") %>
  
  <section class="vh-100 ">
    <div class="container-fluid  bodylog">
        <div class="col-sm-6 text-black">
          <div class="d-flex align-items-center justify-content-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form  style="width: 50rem;">
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; text-align: center; font-weight:bold; font-family:Marmelad,sans-serif;">Enter the OTP</h3>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example18">OTP</label>
                <input  name="otp" type="text" id="otp" class="form-control form-control-lg" />
              </div>
              <p id="otpError" class="errormessage"></p>
              <div style="display: flex;">
                <p  class="small mb-5 pb-lg-2 text-muted resendBtn" style=" display: none;" >Resend OTP</p>
                <p  class="small mb-5 pb-lg-2 text-muted resendTimer" >Resend OTP in : <span class="otpText">00:59</span></p>
              </div>
              <div class="pt-1 mb-4" style="display: flex; justify-content: center;">
                <button id="Verifiy-OTP-btn"  data-mdb-button-init data-mdb-ripple-init class="Verifiy-OTP-btn" ><span class="otp-btn-text">Verifiy-OTP</span></button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
  <%- include("./layouts/footer.ejs") %>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/custom.js"></script>
  <script src="/js/users/fotp-validation.js"></script>
</body>
</html>