<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marmelad&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="/css/tiny-slider.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>
      Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites
      by Untree.co
    </title>
  </head>

  <body>
   
    <nav class="custom-navbar navbar navbar navbar-expand-md" arial-label="Furni navigation bar" >
      <div class="container">
        <div id="navlogo" >
          <a href=""><img src="/images/img/logo/A_logo_with_the_letters_M_and_H_together_with_a_cap_on_M-removebg-preview.png" alt=""></a>
        </div>
        <a class="navbar-brand" href="index.html"><span class="brandname">Men's Hub </span></a>
    
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsFurni"
          aria-controls="navbarsFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li><a class="nav-link" href="/shop">Shop</a></li>
            <li><a class="nav-link" href="/about">About us</a></li>
            <li><a class="nav-link" href="/contact">Contact us</a></li>
            <li><a class="nav-link" href="/service">My Account</a></li>
          </ul>
          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li>
              <a href="wishlist.html">
                <a href="wishlist.html"><i class="fa fa-heart wishicon2" style="color: white;"> </i></a>        
              </a>
            </li>
            <li>
              <a class="nav-link" href="#"><img src="/images/user.svg" /></a>
            
            </li>
            <li>
              <a class="nav-link" href="cart.html"
                ><img src="/images/cart.svg"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid homebanner"></div>
    <h3 class="dropoftheday" style="color: #000000">DROP OF THE DAY</h3>
    <div class="dropoftheday">
      <div class="col-12 col-md-4 col-lg-3">
        <a class="product-item" href="cart.html">
          <img
            id="shirt-img"
            src="/images/img/Drop of the day/Most-Loved-Tile-drop-star-wars_01_jFydaUU.webp"
            class="img-fluid product-thumbnail"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 col-lg-3 ms-5">
        <a class="product-item" href="cart.html">
          <img
            id="shirt-img"
            src="/images/img/Drop of the day/gftrg.jpg"
            class="img-fluid product-thumbnail"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 col-lg-3 ms-5">
        <a class="product-item" href="cart.html">
          <img
            id="shirt-img"
            src="/images/img/Drop of the day/Most-Loved-Tile-drop-2_01_1.webp"
            class="img-fluid product-thumbnail"
          />
        </a>
      </div>
    </div>

    <!--  End Drop of the day -->

    <!-- Start Product Section -->
    <div class="product-section">
      <div class="container">
        <div class="row">
          <!-- Start Column 1 -->
          <h3 class="populcoll" style="margin-bottom: 50px">
            <span style="color: #3b5d50">POPULAR</span> CATEGORIES
          </h3>
          <br />
          <% category.forEach((data) => {%>

            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
              <a class="product-item" href="cart.html">
                <img
                  src="<%= data.image %>"
                  class="img-fluid product-thumbnail"
                />
  
                <h3 class="product-title"><%= data.name %></h3>
  
                <span class="icon-cross">
                  <img src="/images/cross.svg" class="img-fluid" />
                </span>
              </a>
            </div>
   
          <%})%>

         
        </div>
      </div>
    </div>

    <!-- start New arrivals -->
    <!-- start New arrivals -->
    <h2 class="ms-3 newarrivalnew">
      <span style="color: #3b5d50">NEW </span>ARRRIVALS
    </h2>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <% products.forEach((data, index) => { %>
          <div class="col-12 col-md-4 col-lg-3 mb-md-0 newarrnew text-center">
            <div class="newarrimg-box">
              <img class="newarrimg" src="<%= data.images[0] %>" alt="" />
              <i class="fa-regular fa-heart fa-xl mt-4 wishiconnew" style="color: #000000"></i>
            </div>
            <div class="newarrcolbox1new">
              <a class="product-item" href="cart.html">
                <div class="tittlesnew">
                  <% if (index === 0) { %> SHIRTS <% } %>
                  <% if (index === 1) { %> PANTS <% } %>
                  <% if (index === 2) { %> OVERSIZED T-SHIRTS <% } %>
                  <% if (index === 3) { %> FULL SLEEVE <% } %>
                </div>
              </a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <br>
    <br>

  
    
<%- include ("./layouts/footer.ejs") %>    

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
