<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="author" content="Untree.co" />
      <link rel="shortcut icon" href="favicon.png" />
      <meta name="description" content="" />
      <meta name="keywords" content="bootstrap, bootstrap4" />
    
      <!-- Bootstrap CSS and updated Font Awesome for icons -->
      <link href="css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    
      <!-- Google Fonts and other stylesheets -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
      <link href="/css/tiny-slider.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/style.css">
      <link href="/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    </head>
  <body>
  <%- include("./layouts/header.ejs") %>
      
    <div class="login-container">
        <form action="/auth/google" method="get">
          <div>
          <button class="log-googlebtn" type="submit"><img class="google" src="/images/img/googleimg/google.png" alt=""></button> 
          </div>
      </form>
    
      <div class="divider">- OR -</div>
      <h2>LOGIN</h2>
      <form id="loginform">
        <input type="email" id="userName-email" placeholder="Your Email or Username" >
        <p id="emailusernameError" class="errormessage"></p>
        <div class="password-container">
          <input type="password" id="password" placeholder="Your Password">
          <i class="fa fa-eye-slash toggle-password log-toggle" id="togglePassword" onclick="togglePasswordVisibility()"></i>
        </div>
        <p id="passwordError" class="errormessage"></p>
        <button class="login-btn" id="loginBtn">Login</button>
      </form>
      <p><a href="/forgotpasswordemailverification">Forgot password?</a></p>
      <p>Don't have an account? <a href="/register">Sign up</a></p>
    </div>

        </div>
      </section>


      <%- include("./layouts/footer.ejs") %>

      <!-- scripts -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/tiny-slider.js"></script>
      <script src="js/custom.js"></script>
      <script src="js/users/logvalidation.js"></script>
      <script src="/js/users/logpasstoggle.js"></script>
  </body>
</html>
